<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">DNI</th>
      <th scope="col">Correo</th>
      <th scope="col">Fecha Nacimiento</th>
      <!-- <th scope="col">Stocks</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes;let i = index">
      <th scope="row">{{cliente.id}}</th>
      <td>{{cliente.nombre}}</td>
      <td>{{cliente.dni}}</td>
      <td>{{cliente.correo}}</td>
      <td>{{cliente.fechaNacimiento}}</td>
      <!-- <td>{{cliente.stocks}}</td> -->
    </tr>
  </tbody>
</table>
