<nav class="navbar navbar-expand-lg navbar-dark bg-dark pb-2">
  <a class="navbar-brand">BlockBuster</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/juegos">Juegos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/companias">Compañias <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
