<div class="card bg-light pt-md-3">

  <div class="card-header">
    <h3>Inicio de Sesión</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <div class="form-group">
        <label for="user">Usuario</label>
        <input type="text" formControlName="user" class="form-control" />
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" formControlName="password" class="form-control" />
      </div>

      <div class="form-group">
        <button [disabled]="loginForm.invalid" type=submit class="btn btn-primary">Login</button>
      </div>

    </form>
  </div>
</div>
