<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Titulo</th>
      <th scope="col">Fecha Lanzamiento</th>
      <th scope="col">Categoria</th>
      <th scope="col">Compañia</th>
      <button scope="col" type=button class="btn btn-primary" (click)="addJuego()">Añadir Juego</button>
      < </tr> </thead> <tbody>
    <tr *ngFor="let juego of juegos;let i = index">
      <th scope="row">{{juego.idJuego}}</th>
      <td>{{juego.titulo}}</td>
      <td>{{juego.fechaLanzamiento}}</td>
      <td>{{juego.categoria}}</td>
      <td>{{juego.companias}}</td>
      <button type=button class="btn btn-success" (click)="editarJuego(i)">Borrar Juego</button>
      <button type=button class="btn btn-danger" (click)="borrarJuego(i)">Borrar Juego</button>
    </tr>
    </tbody>
</table>
