<div class="card bg-light-gray pt-md-3">

  <div class="card-header">
    <h3>Añadir Juego</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="juegosForm" (ngSubmit)="enviarJuego()">

      <div class="form-group">
        <label for="titulo">Titulo</label>
        <input type="text" formControlName="titulo" class="form-control" />
      </div>

      <div class="form-group">
        <label for="fechaLanzamiento">Fecha de Lanzamiento</label>
        <input type="date" formControlName="fechaLanzamiento" class="form-control" />
      </div>
      <div class="form-group">
        <label for="categoria">Categoria</label>
        <select formControlName="categoria" class="form-control">
          <option *ngFor="let categoria of categorias" [ngValue]="categoria">
            {{categoria}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="companias">Compañias</label>
        <select formControlName="companias" class="form-control">
          <option *ngFor="let compania of companiasList" [ngValue]="compania">
            {{compania.nombre}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <button [disabled]="juegosForm.invalid" type=submit class="btn btn-primary">Enviar Juego</button>
      </div>

    </form>
  </div>
</div>
