<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">CIF</th>
      <!-- <th scope="col">Juegos</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let compania of companias;let i = index">
      <th scope="row">{{compania.id}}</th>
      <td>{{compania.nombre}}</td>
      <td>{{compania.cif}}</td>
      <!-- <td>{{compania.juegos}}</td> -->
    </tr>
  </tbody>
</table>
